p {
    background: hsl(120, 100%, 75%);
    color: red;
    font-size:28px;
    font-style: "Robotic";
}
h1 {
    background: yellowgreen;
    color: #343434;
    font-size: 32px;
}
footer {
    color: darkolivegreen;
    font-size: 20px;
    font-style:"Times New Roman";
    font-family: 'Courier New', Courier, monospace;
}
a {
    padding:8px;
    border-radius: 10px;
    background: darksalmon;
}
a:active {
    
}
a:visited {

}
a:hover {
    text-decoration: none;
}
a:focus {

}
.lie {
    font-family: 'Times New Roman';
}
#section1{
    font-size:80px;
}